@import 'tailwindcss';

:root {
  --primary: var(--color-zinc-950);
  --primary-foreground: var(--color-zinc-100);

  --background: var(--color-zinc-50);
  --foreground: var(--color-zinc-900);

  --border: var(--color-zinc-200);
}

:root.dark {
  --primary: var(--color-zinc-100);
  --primary-foreground: var(--color-zinc-950);

  --background: var(--color-zinc-900);
  --foreground: var(--color-zinc-50);

  --border: var(--color-zinc-700);
}

@theme {
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-border: var(--border);
}

@theme inline {
  --animate-marquee: marquee var(--duration) infinite linear;
  --animate-marquee-vertical: marquee-vertical var(--duration) linear infinite;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}
@keyframes marquee-vertical {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(calc(-100% - var(--gap)));
  }
}

@layer base {
  .mdx code {
    font-family: var(--font-mono);
    @apply text-sm;
  }

  .mdx code:not(pre code) {
    @apply font-mono bg-primary/10 text-primary text-xs px-1 rounded;
  }

  .mdx pre {
    @apply overflow-x-auto;
  }

  .mdx ul,
  .mdx li {
    margin-bottom: 1rem;
  }
}
